* text=auto eol=lf

*.csv text eol=lf
*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.yml text eol=lf

*.jpg binary
*.jpeg binary
*.png binary
*.xls binary
*.xlsx binary
*.zip binary
